
<footer>
  <div class="row">
      <div class="col-2 row">
          <h2 class="col-12">
              MUT
          </h2>
          <p class="col-12">لمستقبل افضل للامهات </p>
      </div>
      <div class="col-1">
          <img src="/img/logo-nav.png" alt="">
      </div>
 
  </div>
  <div class="row">
      <p class="col-2">الشروط والاحكام</p>
      <p class="col-2">سياسة الخصوصية </p>
  </div>
  <div class="row">
      <p class="col-3"><span>MUT</span>© All Rights Reserved 2023</p>
      <div class="footer-imgs col-4 offset-4">
          <img src="/img/Facebook.png" alt="" class="footer-img">
          <img src="/img/Instagram.png" alt="" class="footer-img">
          <img src="/img/YouTube.png" alt="" class="footer-img">
          <img src="/img/LinkedIn.png" alt="" class="footer-img">
      </div>
      
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
<script src="/bootstrap-5.2.3-dist/js/bootstrap.js"></script>
<script src="/js/doc-dash.js"></script>