<nav class="navbar navbar-expand-sm  ">
  <div class="container-fluid">

  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="collapsibleNavId">
  
      <div class="container-fluid">
          <div class="row">
              <ul class="navbar-nav offset-2  ">
                  <li class="nav-i"><i class="fa-solid fa-magnifying-glass pfpIcon"></i></li>
                  <li class="nav-i"><a class="nav-link pfp-name" href="/log-in">تسجيل الدخول</a></li>
                  <li class="ml-3"> <a href="/mom-pfp"><i class="fa-solid fa-user pfpIcon " ></i></a></li>
                 
              </ul>
              
                 
     
                  
      <ul class="navbar-nav offset-3  ">
        <li class="ml-3 doc-dash d-none"><a class="nav-link" href="/doc-dash">
            doc dash
        </a></li>
          <li class="ml-3"><a class="nav-link" href="/contact-us">تواصل معانا</a></li>
          <li class="ml-3"><a class="nav-link" href="/news">الاخبار</a></li>
          <li class="ml-3"><a class="nav-link " href="/know-doc">الاستشارات</a></li>
          <li class="ml-3"><a class="nav-link" href="/comment-sec">المجتمع</a></li>
          <li class="ml-3"><a class="nav-link" href="/">الرئيسية</a></li>
          <li class="ml-3"><img src="/img/logo-nav.png" id="navLogo"></li>
          
      </ul>
  </div>
  </div>
    
  </div>

</div>
</nav>