<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
       <!-- Bootstrap CSS -->
      
    <link href="/bootstrap-5.2.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/fontawesome-free-6.4.0-web/css/all.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.css">

       <link rel="stylesheet" href="/css/style.css">
       <link rel="stylesheet" href="/css/appointment-doc.css">
  
  
  </head>

<body>

    <%- include("partials/header"); -%> 

  <main>

    <div class="the-content-container">
        <div class="head">
            <div class="ap-h-1">
                طلب موعد طبي
            </div>
            <div class="ap-h-2">
                التاريخ
            </div>
            <div class="ap-h-3">
                تأكيد
            </div>
        </div>
        <div class="appointment-card">
            <div class="appointment-head">
                <div class="ap-h-1">
                    <img src="/img/comment-img.png" alt="">
                    <p>
                        منه الله حسن
                    </p>
                </div>
                <div class="ap-h-2">
                    <p>01/27</p>
                </div>
                <div class="ap-h-3">
                    <i class="fa-regular fa-circle-check"></i>
                    <i class="fa-regular fa-circle-xmark"></i>
                </div>
            </div>
            <div class="appointment-card-2">
                <div class="content">
                    <h3 class="appointment-pfp-head">
                        موعد الجلسة
                    </h3>
                    <img src="/img/comment-img.png" alt="" class="appointment-pfp-img">
                    <p class="appointment-pfp-name">
                        منة الله حسن
                    </p>
                    <div class="time">
                        <p class="time">
                            4:30 pm
                        </p>

                        <p class="date">
                            29 August 2022
                        </p>
                    </div>
                     <p class="appointment-pfp-email">
                        تم تأكيد حجز الموعد علي  <span>Sakshipal1310@gmail.com</span>
                     </p>
                </div>
            </div>
            <div class="appointment-head mt-5">
                <div class="ap-h-1">
                    <img src="/img/comment-img.png" alt="">
                    <p>
                      سامية جمال
                    </p>
                </div>
                <div class="ap-h-2">
                    <p>01/27</p>
                </div>
                <div class="ap-h-3">
                    <i class="fa-regular fa-circle-check"></i>
                    <i class="fa-regular fa-circle-xmark"></i>
                </div>
            </div>
            <div class="appointment-card-2">
                <div class="content">
                    <h3 class="appointment-pfp-head">
                        موعد الجلسة
                    </h3>
                    <img src="/img/comment-img.png" alt="" class="appointment-pfp-img">
                    <p class="appointment-pfp-name">
                       سامية جمال
                    </p>
                    <div class="time">
                        <p class="time">
                            4:30 pm
                        </p>

                        <p class="date">
                            29 August 2022
                        </p>
                    </div>
                     <p class="appointment-pfp-email">
                        تم تأكيد حجز الموعد علي  <span>Sakshipal1310@gmail.com</span>
                     </p>
                </div>
            </div>

        </div>
    </div>


  </main>

  <%- include("partials/footer"); -%>  

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="/bootstrap-5.2.3-dist/js/bootstrap.min.js" ></script>
       <script src="/js/article.js"></script>
       <script src="/js/doc-dash-link.js"></script>
</body>

</html>