<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="/bootstrap-5.2.3-dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/fontawesome-free-6.4.0-web/css/all.css">
  <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.css">
  
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/news.css">

</head>

<body>
  
    <%- include("partials/header"); -%> 

  <main>
    <div class="bluediv">
        <button class="btn-1">ترتيب الاخبار</button>
        <button class="btn-2">احدث الاخبار</button>
        <button class="btn-3">عرض كل الاخبار</button>
    </div>
    <img src="/img/news-1.jpg" alt="">
    <div class="news-1">
        <h2>Why so special?</h2>
        <h1>features</h1>
        <div class="first-news row">
            <div class="col-1">
                <span class="black-Circle"></span><div class="line-1"></div>
                <span class="circle"></span><div class="line-2"></div> <span class="circle"></span>
            </div>
            <div class="col-8">
                <h3 class="h3-1">SURVIVE AT ALL COSTS</h3>
                <p>You have 30 minutes to find a relic, signal for extraction, and grab
                    one of three spots on the rescue chopper.</p>
                <h3>CREATE ALLIES AND ENEMIES</h3>
                <h3>IMPRESS THE AUDIENCE</h3>
            </div>
        </div>
    </div>
    <div class="news-2">
        <p>The mut  player player count has been 
            on a relatively fixed cycle over the years, revolving around a spike in popularity from The International Battle Pass. 2019 saw the mut  player count plunge after the end of the battle pass, which led to historically low player counts in January 2020.</p>
    </div>
    <video class="v-1" src="" poster="/img/news-2.jpg"></video>
    <div class="news-3">
        <p>The mut  player player count has been 
            on a relatively fixed cycle over the years, revolving around a spike in popularity from The International Battle Pass. 2019 saw the mut  player count plunge after the end of the battle pass, which led to historically low player counts in January 2020.</p>
            
            
          <p> Spring 2020 saw business pick up in mut and a number of other esports titles, but the game entered into a steady decline in May despite the launch of the TI10 Battle Pass. That put mut
            on pace to dip down to numbers from early on in the game’s existence, but Valve has managed to head off that decline.</p> 
            
           <p> The TI10 Battle Pass’ guild feature was made a permanent part of the game and was tied into an expansion of the mut Plus shard system. This gave players rewards for continued play in a way that hadn’t really existed prior. On October 29, Valve gave fans another treat by bringing back the Diretide game mode for the first time since 2013. This combination could be the start of a climb back to relevance for mut</p>
    </div>
    <video class="v-2" src="" poster="/img/news-4.jpg"></video>
  </main>

  <%- include("partials/footer"); -%>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/bootstrap-5.2.3-dist/js/bootstrap.min.js" ></script>
   <script src="js/support.js"></script>
   <script src="/js/doc-dash-link.js"></script>
</body>

</html>