<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


     <!-- Bootstrap CSS -->
     <link href="/bootstrap-5.2.3-dist/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="/fontawesome-free-6.4.0-web/css/all.css">
     <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.css">
     
     <link rel="stylesheet" href="/css/style.css">
     <link rel="stylesheet" href="/css/questions.css">

</head>

<body>
   
  <%- include("partials/header"); -%>

  <main>
    <div class="bluediv">
        <h2> <span class="black-Circle"></span>
            التعليمات
        </h2>
    </div>
    <p class="p1">لقد رزقت مؤخرا  بطفل،ولذلك نود ان تعرف كيف تشعرين الآن .يرجي وضع خط تحت من الاجابات التي تعبر بطريقة ادق عن كيفية شعورك في الايام السبعة الماضية وليس شعورك اليوم فحسب.</p>
    <div class="questions">
        <div class="question">
            <div class="bluediv">
              <p><span class="black-Circle"></span>1 _ لقد كنت قادرة علي الضحك ورؤية الجانب المشرق من الاشياء:</p>
            </div>
            <div class="answer">
                <div class="answerdiv">  
                  <p><input type="radio" name="answer1" class="blue-Circle" value="1">
                    بالمقدار نفسه الذى استطعته من قبل </p>
                </div>
                <div class="answerdiv">  
                    <p><input type="radio" name="answer1" class="blue-Circle" value="2">
                      ليس تماما بالمقدار نفسه </p>
                  </div>
                  <div class="answerdiv">  
                    <p><input type="radio" name="answer1" class="blue-Circle" value="3">
                      قطعا ليس بالمقدار نفسه</p>
                  </div>
                  <div class="answerdiv">  
                    <p><input type="radio" name="answer1" class="blue-Circle" value="4">
                      كلا،مطلقا</p>
                  </div>        
            </div>
            
        </div>
        <div class="question">
            <div class="bluediv">
              <p><span class="black-Circle"></span>2_ لقد تطلعت الى الامور بتمتع</p>  
            </div>
            <div class="answer">
                <div class="answerdiv">  
                  <p><input type="radio" name="answer2" class="blue-Circle" value="1">
                    بالمقدار نفسه الذى استطعته من قبل </p>
                </div>
                <div class="answerdiv">  
                    <p><input type="radio" name="answer2" class="blue-Circle" value="2">
                      اقل نوعا ما مما اعتدته</p>
                  </div>
                  <div class="answerdiv">  
                    <p><input type="radio" name="answer2" class="blue-Circle" value="3">
                      قطعا اقل مما اعتدته</p>
                  </div>
                  <div class="answerdiv">  
                    <p><input type="radio" name="answer2" class="blue-Circle" value="4">
                      نادرا،ابدا</p>
                  </div>        
            </div>
            
        </div>
        <div class="question">
            <div class="bluediv">
                <p><span class="black-Circle"></span>3_ لقد لمت نفسي دون داعي عندما سارت الامور علي غير ما يرام:</p>
            </div>
            <div class="answer">
              <div class="answerdiv">  
                <p><input type="radio" name="answer3" class="blue-Circle" value="1">
                  بالمقدار نفسه الذى استطعته من قبل </p>
              </div>
              <div class="answerdiv">  
                  <p><input type="radio" name="answer3" class="blue-Circle" value="2">
                    اقل نوعا ما مما اعتدته</p>
                </div>
                <div class="answerdiv">  
                  <p><input type="radio" name="answer3" class="blue-Circle" value="3">
                    قطعا اقل مما اعتدته</p>
                </div>
                <div class="answerdiv">  
                  <p><input type="radio" name="answer3" class="blue-Circle" value="4">
                    نادرا،ابدا</p>
                </div>        
          </div>
            
        </div>
        <div class="question">
            <div class="bluediv">
                <p><span class="black-Circle"></span>4_ لقد كنت قلقة ومشغولة البال بدون سبب وجيه</p>
            </div>
            <div class="answer">
              <div class="answerdiv">  
                <p><input type="radio" name="answer4" class="blue-Circle" value="1">
                  بالمقدار نفسه الذى استطعته من قبل </p>
              </div>
              <div class="answerdiv">  
                  <p><input type="radio" name="answer4" class="blue-Circle" value="2">
                    اقل نوعا ما مما اعتدته</p>
                </div>
                <div class="answerdiv">  
                  <p><input type="radio" name="answer4" class="blue-Circle" value="3">
                    قطعا اقل مما اعتدته</p>
                </div>
                <div class="answerdiv">  
                  <p><input type="radio" name="answer4" class="blue-Circle" value="4">
                    نادرا،ابدا</p>
                </div>        
          </div>
            
        </div>
        <div class="question">
            <div class="bluediv">
                <p><span class="black-Circle"></span>5- لقدشعرت بالخوف والذعر بدون سبب وجيه</p>
            </div>
            <div class="answer">
              <div class="answerdiv">  
                <p><input type="radio" name="answer5" class="blue-Circle" value="1">
                  بالمقدار نفسه الذى استطعته من قبل </p>
              </div>
              <div class="answerdiv">  
                  <p><input type="radio" name="answer5" class="blue-Circle" value="2">
                    اقل نوعا ما مما اعتدته</p>
                </div>
                <div class="answerdiv">  
                  <p><input type="radio" name="answer5" class="blue-Circle" value="3">
                    قطعا اقل مما اعتدته</p>
                </div>
                <div class="answerdiv">  
                  <p><input type="radio" name="answer5" class="blue-Circle" value="4">
                    نادرا،ابدا</p>
                </div>        
          </div>
        </div>
        <div class="question">
            <div class="bluediv">
                <p><span class="black-Circle"></span>6- تراكمت الاعمال علي ،فلم استطيع القيام بها كلها:</p>
            </div>
            <div class="answer">
              <div class="answerdiv">  
                <p><input type="radio" name="answer6" class="blue-Circle" value="1">
                  بالمقدار نفسه الذى استطعته من قبل </p>
              </div>
              <div class="answerdiv">  
                  <p><input type="radio" name="answer6" class="blue-Circle" value="2">
                    اقل نوعا ما مما اعتدته</p>
                </div>
                <div class="answerdiv">  
                  <p><input type="radio" name="answer6" class="blue-Circle" value="3">
                    قطعا اقل مما اعتدته</p>
                </div>
                <div class="answerdiv">  
                  <p><input type="radio" name="answer6" class="blue-Circle" value="4">
                    نادرا،ابدا</p>
                </div>        
          </div>
            
        </div>
        <div class="question">
            <div class="bluediv">
                <p><span class="black-Circle"></span>7-لقدكنت سعيدة لدرجة انه كان لدي صعوبة في النوم</p>
            </div>
            <div class="answer">
              <div class="answerdiv">  
                <p><input type="radio" name="answer7" class="blue-Circle" value="1">
                  بالمقدار نفسه الذى استطعته من قبل </p>
              </div>
              <div class="answerdiv">  
                  <p><input type="radio" name="answer7" class="blue-Circle" value="2">
                    اقل نوعا ما مما اعتدته</p>
                </div>
                <div class="answerdiv">  
                  <p><input type="radio" name="answer7" class="blue-Circle" value="3">
                    قطعا اقل مما اعتدته</p>
                </div>
                <div class="answerdiv">  
                  <p><input type="radio" name="answer7" class="blue-Circle" value="4">
                    نادرا،ابدا</p>
                </div>        
          </div>           
        </div>
        <div class="question">
            <div class="bluediv">
                <p><span class="black-Circle"></span>8- لقد شعرت بأني لست سعيدة او بائسة</p>
            </div>
            <div class="answer">
              <div class="answerdiv">  
                <p> <input type="radio" name="answer8" class="blue-Circle" value="1">
                  بالمقدار نفسه الذى استطعته من قبل </p>
              </div>
              <div class="answerdiv">  
                  <p> <input type="radio" name="answer8" class="blue-Circle" value="2">
                    اقل نوعا ما مما اعتدته</p>
                </div>
                <div class="answerdiv">  
                  <p><input type="radio" name="answer8" class="blue-Circle"value="3">
                    قطعا اقل مما اعتدته</p>
                </div>
                <div class="answerdiv">  
                  <p> <input type="radio" name="answer8" class="blue-Circle" value="4">
                    نادرا،ابدا</p>
                </div>        
          </div>
        </div>
        <div class="question">
            <div class="bluediv">
                <p><span class="black-Circle"></span>9- لقد كنت غير سعيدة وشعرت بألم مرير لدرجة اني كنت ابكي</p>
            </div>
            <div class="answer">
              <div class="answerdiv">  
                <p>
                   <input type="radio" name="answer9" class="blue-Circle" value="1">
                  بالمقدار نفسه الذى استطعته من قبل </p>
              </div>
              <div class="answerdiv">  
                  <p>
                     <input type="radio" name="answer9" class="blue-Circle" value="2">
                    اقل نوعا ما مما اعتدته</p>
                </div>
                <div class="answerdiv">  
                  <p>
                     <input type="radio" name="answer9" class="blue-Circle" value="3">
                    قطعا اقل مما اعتدته</p>
                </div>
                <div class="answerdiv">  
                  <p>
                     <input type="radio" name="answer9" class="blue-Circle" value="4">
                    نادرا،ابدا</p>
                </div>        
          </div>
            
        </div>
        <div class="question">
            <div class="bluediv">
                <p><span class="black-Circle"></span>10- لقد خطرت لي فكرة الحاق الاذى بنفسي</p>
            </div>
            <div class="answer">
              <div class="answerdiv">  
                <p>
                  <input type="radio" name="answer10" class="blue-Circle"value="1">
                  بالمقدار نفسه الذى استطعته من قبل </p>
              </div>
              <div class="answerdiv">  
                  <p> 
                    <input type="radio" name="answer10" class="blue-Circle" value="2">
                    اقل نوعا ما مما اعتدته</p>
                </div>
                <div class="answerdiv">  
                  <p>
                    <input type="radio" name="answer10" class="blue-Circle" value="3">
                    قطعا اقل مما اعتدته</p>
                </div>
                <div class="answerdiv">  
                  <p>
                    <input type="radio" name="answer10" class="blue-Circle" value="4">
                    نادرا،ابدا</p>
                </div>        
          </div>
            
        </div>
    </div>
    <img src="img/question-img.png" alt="" >
    <button class="bluediv">
      <a >
      انتهت الاسئلة
    </a>
    </button>
   
  </main>
  
  <%- include("partials/footer"); -%>
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script src="/bootstrap-5.2.3-dist/js/bootstrap.min.js" ></script>
   <script src="/js/questions.js"></script>
   <script src="/js/doc-dash-link.js"></script>
</body>

</html>