<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


     <!-- Bootstrap CSS -->
     <link href="/bootstrap-5.2.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/fontawesome-free-6.4.0-web/css/all.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.css">

     <link rel="stylesheet" href="/css/style.css">
     <link rel="stylesheet" href="/css/records.css">

</head>

<body>
   
    <%- include("partials/header"); -%>
    
  <main>
    <div class="records-container">
        <h2>
           الملفات الطبية للامهات 
        </h2>

        <div class="record">
          <div class="momInfo">
            <img src="/img/comment-img.png" alt="" class="recordImg">
            <p class="momName">
              كوثر علي
            </p>
          </div>
          <p class="momScore">
            29%
          </p>
       
        </div>
        <div class="record">
          <div class="momInfo">
            <img src="/img/comment-img.png" alt="" class="recordImg">
            <p class="momName">
              سارة سيد
            </p>
          </div>
          <p class="momScore">
            72%
          </p>
       
        </div>
        <div class="record">
          <div class="momInfo">
            <img src="/img/comment-img.png" alt="" class="recordImg">
            <p class="momName">
             يمني علي
            </p>
          </div>
          <p class="momScore">
            48%
          </p>
       
        </div>
        <div class="record">
          <div class="momInfo">
            <img src="/img/comment-img.png" alt="" class="recordImg">
            <p class="momName">
             فتحية خالد
            </p>
          </div>
          <p class="momScore">
            76%
          </p>
       
        </div>
        <div class="record">
          <div class="momInfo">
            <img src="/img/comment-img.png" alt="" class="recordImg">
            <p class="momName">
            ميرنا هاني
            </p>
          </div>
          <p class="momScore">
            36%
          </p>
       
        </div>
        <div class="record">
          <div class="momInfo">
            <img src="/img/comment-img.png" alt="" class="recordImg">
            <p class="momName">
             منة عباس
            </p>
          </div>
          <p class="momScore">
            68%
          </p>
       
        </div>
        <div class="record">
          <div class="momInfo">
            <img src="/img/comment-img.png" alt="" class="recordImg">
            <p class="momName">
             
              رنيا يوسف
            </p>
          </div>
          <p class="momScore">
            40%
          </p>
       
        </div>
        <div class="record">
          <div class="momInfo">
            <img src="/img/comment-img.png" alt="" class="recordImg">
            <p class="momName">
        سامية جمال
            </p>
          </div>
          <p class="momScore">
            50%
          </p>
       
        </div>
        <div class="record">
          <div class="momInfo">
            <img src="/img/comment-img.png" alt="" class="recordImg">
            <p class="momName">
              صباح 
            </p>
          </div>
          <p class="momScore">
            82%
          </p>
       
        </div>


    </div>
    
   
  </main>

  <%- include("partials/footer"); -%>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="/bootstrap-5.2.3-dist/js/bootstrap.min.js" ></script>
<script src="/js/doc-dash-link.js"></script>
   
</body>

</html>