main{
    direction: rtl;
    
    padding: 7rem;
}
main h2{
font-weight: 700;
font-size: 32px;
line-height: 60px;
color: #000000;
opacity: 0.89;
}
main p{
    font-weight: 600;
font-size: 20px;
line-height: 37px;

color: #464A54;
}

main ul{
    font-weight: 700;
    margin-left: 5rem;
    margin-right: 8rem;
font-size: 20px;
line-height: 37px;
display: flex;
color: #000000;
}
main ul {
    list-style: none;
  }
main li{
    margin-left: 23rem;
    margin-right: -8rem
}
span{  width: 16px;
    height: 16px;
     background:red; 
      display:inline-block;
       margin-right:6px;
       background: #B6E3E9;
    }

main label{
    font-weight: 700;
font-size: 20px;
line-height: 37px;
margin-bottom: 1rem;
margin-right: 5rem;
color: #000000;
}
input{
    width: 998px;
height: 62px;
left: 253px;
top: 455px;
display: block;
margin: 0rem 3rem 3rem 3rem;
background: linear-gradient(0deg, rgba(206, 228, 238, 0.4), rgba(206, 228, 238, 0.4)), linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%);
border-radius: 16px;

}
main button{
    font-weight: 700;
font-size: 20px;
line-height: 37px;

color: #000000;
width: 185px;
height: 57px;
left: 1066px;
top: 560px;

/* nav */

background: #B6E3E9;
border-radius: 16px;
}